
/*********************** Suffolk-added styles **********************/

#hero-section {
  background-color: #c3ecf3;
  padding-top: 10em;
  padding-bottom: 10em;
}

#hero-section h1 {
  font-size: 3em;
}

#hero-section textarea {
  min-height: 8em;
}

#how-it-works-section {
  padding: 5em 0 5em 0;
}

/*footer {
  background-color: #3e7d9a;
}*/

#topics {
  background-color: #c3ecf3;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 2em;
}

#topics .card-header {
  background-color: #fff;
}

#topics .card-body {
  background-color: #fff;
}

#topics .card-header {
  border-bottom: none;
}

.form-tag {
  transition: all 0.05s ease-in-out;
  padding: 10px 10px;  
  border-radius: 5px;  
  background-color: #c3ecf3;  
  color: black;
  display: inline-block;
  margin-right: 10px; 
  font-size: 14px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c3ecf3;
}

.form-tag:hover {
  border-color:rgba(1, 65, 255, 0.3)
}


.topic-card {
  transition: all 0.2s ease-in-out;
}

.topic-card:hover {
  transform: scale(1.01); /* Increase size by 1% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); /* Add drop shadow */
}

.topic-card .fa-icon {
  color: #c69931; 
}

.topic-card .icon-container {
  background-color: #2e4d82;
  padding: .2em;
}

.topic-card .card-title {
  font-size: 1em;
  color: #002e60;
}

.courtformsonline-navbar {
  background-color: #002E60;
  height: 70px;
}

.courtformsonline-navbar .nav-link {
  color: white;
  margin-right: 2em;
}

.logo-image {
  max-height: 40px;
}

.suffolk-logo {
  max-height: 70px;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


h1, h2, h3, h4, h5, .logo-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  margin-top: 2em;
}

body {
  font-family: "Inter";
}


