.NavigationBar {
  background: #002e60;
}

.NavLogo {
  height: auto;
  max-height: 48px;
  width: auto;
}

.NavHeaderText {
  color: White;
  font-size: 1.5rem;
}

.NavLink {
  display: block;
  padding: 1rem;
  color: white;

  &:not(:hover) {
    text-decoration: none;
  }

}

.AllFormsPath {
  text-transform: uppercase;
}

.ExternalLinkIcon {
  height: .8em;
  width: .8em;
  vertical-align: top;
}