<!DOCTYPE html>
<html>
<head>
    <title>Split Screen Layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="background-color:lavender;">
                <!-- Add your content here -->
                <h1>Left Panel</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ultrices erat, eu pulvinar metus. Aliquam erat volutpat.</p>
            </div>
            <div class="col-sm-6" style="background-color:lavenderblush;">
                <!-- Add your content here -->
                <h1>Right Panel</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ultrices erat, eu pulvinar metus. Aliquam erat volutpat.</p>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
