/**
 * Font
 */

h1,
h2,
h3,
h4,
h5,
.logo-text {
  font-weight: bold;
}

/**
 * Utilities
 */

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}

/* Removes body top padding if the first child element is the hero section. */
.body-container:has(#hero-section:first-child) {
  padding-top: 0 !important;
}

/* Removes body bottom padding if the last child element is the affiliates section. */
.body-container:has(#affiliates-section:last-child) {
  padding-bottom: 0 !important;
}

/**
 * Responsive changes
 */

 @media (max-width: 576px) {
  h1.text-center {
    text-align: left !important;
  }
}
